#title {
  text-align: center;
}

#description {
  text-align: center;
}

#map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tooltip {
  position: absolute;
  padding: 0.5em;
  font-size: 0.8em;
  background: rgb(235, 235, 212);
  border: 0px;
  border-radius: 3px;
}
